[Desktop Entry]
Name=Lite Updates Notify
Comment=Set an Update frequency notification
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;DesktopSettings;X-XFCE;
Keywords=Configuration;Profile;User;
Exec=gksudo /usr/bin/lite-updatenotify
Icon=mugshot
Terminal=false
Type=Application
