[Desktop Entry]
Name=Lite Updates Notify
Comment=Set Updates notification frequency
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;DesktopSettings;X-XFCE;
Keywords=Configuration;Profile;User;
Exec=/usr/bin/lite-updatesnotify
Icon=/usr/share/lite-updatesnotify/icons/llunotify.png
Terminal=false
Type=Application
