[Desktop Entry]
Name=Lite Updates Notify
Comment=Set Updates notification frequency
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;DesktopSettings;X-XFCE;
Keywords=Configuration;Profile;User;
Exec=/usr/bin/lite-updatenotify
Icon=menu-icon
Terminal=false
Type=Application
