Package: lite-updatesnotify
Version: 2.0-0010-linuxlite
Section: base
Essential: yes
Priority: required
Installed-Size: 14.9
Depends: apt, zenity, yad, gksu
Homepage: http://www.linuxliteos.com
Maintainer: Jerry Bezencon<valtam@linuxliteos.com>, Ralphy<postmaster@unlockforus.com>
Architecture: all
Description: Linux Lite Update OSD notification
 Configure Updates notification frequency in Linux Lite.
